body {
  background-color: #a52a2a;
}

/* AQUI O CODIGO DA FOTO PERFIL */
.mentor-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  text-align: center;
  background-color: #fff;
}

.mentor-card h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.mentor-card p {
  font-size: 14px;
  margin: 5px 0;
}

.mentor-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* FIM CODIGO DA FOTO PERFIL */
